@{
  ViewData["Title"] = "Home Page";
  
  // ctrl K C
  // cách khai báo sai
  // Layout = "_Layout.cshtml";
  
  // cách khai báo đúng
  // Layout = "_Layout";

  // nhưng mặc định nó đã khai báo _Layout rồi
  // mặc định có nghĩa nó tự có rồi không cần chúng ta phải can thiệp thêm
  // nó khai báo chỗ khác: _ViewStart.cshtml
}

<div class="text-center">
    <h1 class="display-4">Chào Mừng Bạn Đến Với Kênh Coding With Thịnh</h1>
</div>
